## Lists

####  list is nothing but collection of different types of data

In [4]:
l=[]
type(l),l

(list, [])

In [2]:
l=[1,2,"hello",3.4,True,[1,2,3]]
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [3]:
l[-2]

True

In [4]:
l[0]

1

In [5]:
l[10]

IndexError: list index out of range

### list slicing

In [6]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [7]:
l[2:4]

['hello', 3.4]

In [8]:
l[-2]

True

In [9]:
l[::-1]

[[1, 2, 3], True, 3.4, 'hello', 2, 1]

In [10]:
l[-1][::-1]           #reversing the last list in the given list

[3, 2, 1]

In [11]:
l[::2]

[1, 'hello', True]

In [12]:
l[0]=10

In [13]:
l

[10, 2, 'hello', 3.4, True, [1, 2, 3]]

In [14]:
del l[0]
l                            #used to del the values in the list

[2, 'hello', 3.4, True, [1, 2, 3]]

In [15]:
l[1] =5
l

[2, 5, 3.4, True, [1, 2, 3]]

In [17]:
len(l)

5

In [18]:
marks=[6,3,4,7,8]
min(marks)

3

In [19]:
max(marks)

8

In [20]:
sum(marks)

28

In [21]:
sorted(marks)          #it is used to sort the given list

[3, 4, 6, 7, 8]

In [22]:
sorted(marks,reverse=True)           #sorted in decending order of the given list

[8, 7, 6, 4, 3]

In [23]:
sum(marks)//len(marks)               #To find the average of the list

5

In [24]:
marks+[10,20]

[6, 3, 4, 7, 8, 10, 20]

In [25]:
marks

[6, 3, 4, 7, 8]

In [26]:
marks*3

[6, 3, 4, 7, 8, 6, 3, 4, 7, 8, 6, 3, 4, 7, 8]

### List methods

In [27]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [29]:
marks.append(10)          #Dynamically add tha element to the list
marks

[6, 3, 4, 7, 8, 10, 10]

In [32]:
marks.extend([20,30])
marks

[6, 3, 4, 7, 8, 10, 10, 20, 30]

In [33]:
marks.pop()          #poping the element with particular element

30

In [34]:
marks.pop(0)

6

In [35]:
len(marks)

7

In [36]:
marks.insert(0,10)
marks                           #shifting the element with particular index

[10, 3, 4, 7, 8, 10, 10, 20]

In [37]:
marks.index(7)

3

In [38]:
mmarks.insex(5)

NameError: name 'mmarks' is not defined

In [39]:
marks.reverse()               #to reverse the given list

In [40]:
marks

[20, 10, 10, 8, 7, 4, 3, 10]

In [41]:
marks.sort()
marks

[3, 4, 7, 8, 10, 10, 10, 20]

In [43]:
marks.count(10)

3

In [44]:
marks.count(-1)

0

In [46]:
marks2 = marks.copy()
marks2,marks

([3, 4, 7, 8, 10, 10, 10, 20], [3, 4, 7, 8, 10, 10, 10, 20])

In [47]:
marks2.clear()
marks2,marks

([], [3, 4, 7, 8, 10, 10, 10, 20])

In [2]:
marks=[2,3,4,5,6]
marks

[2, 3, 4, 5, 6]

In [3]:
for item in marks:
    print(marks)

[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]

In [4]:
for item in marks:
    print(item)

2
3
4
5
6

In [5]:
index = 0
while index<len(marks):
    print(marks[index])
    index += 1

2
3
4
5
6

In [6]:
sum=item=0
while(item<len(marks)):
    sum=sum+marks[item]
    item+=1
print(sum)

20

In [7]:
names="mahesh ravi raghu krish balu"
#to print the names which has entred with 'u'
#output janu sussuu

#task2: print the names which has a max length
#output:susmitha

In [9]:
#task3:print the names which ends with vowels(a,e,i,o,u)
#output:s yami sussu kutti januusmitha

In [10]:
names

'mahesh ravi raghu krish balu'

In [11]:
names.index("ravi")

7

In [3]:
names="mahesh ravi raghu krish balu"
name_list=names.split(" ")
for name in name_list:
    if name.endswitch('u'):
        print(name,end=" ")

AttributeError: 'str' object has no attribute 'endswitch'

In [5]:
names="mahesh ravi raghu krish balu"
name_list=names.split(" ")
for name in name_list:
    if name.endswith('u'):
        print(name,end=" ")

raghu balu

In [7]:
names="mahesh ravi raghu krish balu"
name_list=names.split(" ")
for name in name_list:
    if name.endswith("a") or name.endswith("e") or name.endswith("i")or name.endswith("0") or name.endswith("u"):
        print(name,end=" ")

ravi raghu balu

In [8]:
names="mahesh ravi raghu krish balu"
name_list=names.split(" ")
max=name_list[0]
for name in name_list:
    if len(names[name])>len(names[name+1]):
        max=name-list[name]
print(max)

TypeError: string indices must be integers

In [10]:
string=input()
r=string[::-1]
if r==string:
    print("YES")
else:
    print("NO")

akka
YES

In [12]:
string=input()
string.swapcase()

susmi

'SUSMI'

## Tuple

In [14]:
t=tuple()
t

()

In [15]:
ages=(20,21,40)
ages,type(ages)

((20, 21, 40), tuple)

### Tuple indexing
* tuple is a immutaible data type in python
* it is also like list but it can't change once created
* it is represented by() symbol

In [17]:
ages[0]

20

In [18]:
ages[-1]

40

### slicing in tuple

In [19]:
ages[:-2]

(20,)

In [1]:
ages(20,21,40)
ages,type(ages)

NameError: name 'ages' is not defined

In [3]:
ages=(20,21,40)
ages,type(ages)

((20, 21, 40), tuple)

In [4]:
sum(ages)

81

In [5]:
ages.index(20)

0

In [6]:
ages.count(20)

1

In [7]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [8]:
x,y,z=ages
print(x,y,z)

20 21 40

In [9]:
a=20,30,40
a,type(a)

((20, 30, 40), tuple)

In [11]:
for items in ages:
    print(items,end=" ")

20 21 40

In [12]:
for items in ages[::-1]:
    print(items,end=" ")

40 21 20

In [12]:
str1=input()
str2=input()
i=j=0
while(i<len(str1) and j<len(str2)):
    if str1[i]==str2[j]:
        print("YES")
        break
    else:
        print("NO")
        break
    i+=1

abc
cde
NO

## Sets
* sets are used to remove duplicates
* set is immutable

In [13]:
s={1,2,3}

In [14]:
s

{1, 2, 3}

In [17]:
s.add(10)
s

{1, 2, 3, 10}

In [20]:
s.pop()
s

{1, 2, 3}

In [24]:
s.add(1)
s

{1, 2, 3}

In [25]:
s.add(10)
s

{1, 2, 3, 10}

In [27]:
s.pop()
s

{2, 3, 10}

In [28]:
s.remove(2)
s

{3, 10}

In [29]:
a={1,2,3,4,5}
b={1,2,6,7,8,9}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
a.intersection(b)

{1, 2}

In [31]:
a.difference(b)

{3, 4, 5}

In [36]:
a.difference_update(b)
a,b

(set(), {1, 2, 3, 4, 5, 6, 7, 8})

In [37]:
b={1,2,3,4,5,6,7,8}
c={5}
c.issubset(a),a,c

(False, set(), {5})

In [38]:
a.isdisjoint(c)

True

In [39]:
a.issuperset(c)

False

In [ ]:
names="samyu sarika sravani susmi priya"
#task7: print the names which has duplicate characters
#output:samyu priya susmi

In [41]:
names="samyu sarika sravani susmi priya"
name_split=names.split(" ")
for i in split:
    if len(split[i]>len(split))

TypeError: 'int' object is not iterable